# ctransformers==0.2.5
# sentence-transformers==2.2.2
# pinecone-client==2.2.4
# langchain==0.0.225
# flask
# pypdf
# python-dotenv
# -e .
# Core LLM + embeddings
langchain>=0.3.25
langchain-core>=0.3.65
langchain-community>=0.3.25
langchain-text-splitters>=0.3.8
langchain-huggingface>=0.3.0
langchain-pinecone>=0.2.12
langchain-groq>=0.3.2

pinecone>=7.0.2

sentence-transformers>=5.0.0
transformers>=4.52.0
torch>=2.7.0

flask>=3.1.0
python-dotenv>=1.1.0
pypdf>=5.5.0
tiktoken>=0.9.0

-e .